.content {
    width: 100%;
    text-align: center;
}

.cards {
    justify-content: space-between;
}

.btnWrapper{
    margin: 10px;
}

.btn {
    
    padding: 10px;
    background-color: aquamarine;
    border-color: aquamarine;
}