.square {
    margin: 10px;
    display: flex;
}

.red {
    width: 200px;
    height: 200px;
    background-color: red;
}
.green {
    width: 200px;
    height: 200px;
    background-color: green;
}
